.auth {
    width: 50%;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.btn{
    width: 20%;
}

.inp {
    width: 50%;
}

.auth input {
    margin: 2rem 0 !important;
}

.label{
    position: absolute;
    top: 16px;
    left: 0;
    font-size: 16px;
    color: #9098A9;
    font-weight: 500;
    transform-origin: 0 0;
    transition: all .2s ease;
}
    
.border{
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100%;
    background: #0077FF;
    transform: scaleX(0);
    transform-origin: 0 0;
    transition: all .15s ease;
}
    
input{
    -webkit-appearance: none;
    width: 100%;
    border: 0;
    font-family: inherit;
    padding: 12px 0;
    height: 48px;
    font-size: 16px;
    font-weight: 500;
    border-bottom: 2px solid #C8CCD4;
    background: none;
    border-radius: 0;
    color: #223254;
    transition: all .15s ease;
}

input:hover{
    background: rgba(#223254,.03)
}

input:not(:placeholder-shown) span{
    color: #5A667F;
    transform: translateY(-26px) scale(.75);
}
input:focus{
    background: none;
    outline: none;
}

input:focus span{
    color: #0077FF;
    transform: translateY(-26px) scale(.75);
}

input:focus .border{
    transform: scaleX(1);
}

form{
    display: flex;
    flex-direction: column;
}

button{
    background-color: #0077FF;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    cursor: pointer;
    margin: auto;
    justify-self: center;
}